body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    background: url('payment.jpg');
    background-size:cover ;
    background-repeat: no-repeat;
    position: relative;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    background-color: #00213A;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top:200px;
    left:150px;
    color:white;
    border-radius: 15px;
}

h2 {
    color: white;
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: white;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #51AEFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #061c0b;
}
