body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 10px;
    padding: 10px;
    background: url('Screenshot\ 2024-08-09\ 201444.png');
    background-size:cover ;
    background-repeat: no-repeat;
    position: relative;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    background-color: #DD2995;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    right:180px;
    color:white;
    border-radius: 15px;
   
    
}

h2 {
    color: white;
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: white;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #221354;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px; /* Add this to create space between buttons */
}
button:hover {
    background-color: black;
}


#ad {
    width: 100%;
    padding: 10px;
    background-color: #221354;
    color: #fff;
    border: rgb(89, 27, 205);
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px; /* This will create a gap between the two buttons */
}

#ad:hover {
    background-color: rgb(30, 159, 188);
}
